@media screen and (max-width: 1380px) {
	.login{
		width:40%;
	}
	.login1{
		padding-top:20px;
	}
}
@media screen and (max-width: 1080px) {
	.login{
		width:50%;
	}
	.login1{
		padding-top:20px;
	}
}
@media screen and (max-width: 768px) {
	.login{
		width:70%;
	}
	.login1{
		padding-top:20px;
	}
}
@media screen and (max-width: 480px) {
	.login{
		width:90%;
		
	}
	.login1{
		padding-top:20px;
	}
}

.social-icons {
  margin-top:30px;
  text-align: center;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.social-icons ul li a {
  color:#fff;
  background-color: #d9d9d9;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
}

.social-icons ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.social-icons ul li a.facebook {
  background-color: #3b5999;
}
.social-icons ul li a.twitter {
  background-color: #2ac6f7;
}
.social-icons ul li a.linkedin {
  background-color: #036dc0;
}
.social-icons ul li a.rss {
  background-color: #ff6b00;
}
